:root {

    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

    --ff: 'Bai Jamjuree', sans-serif;
}

body {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: var(--ff);
}


/* Components  */

.features {
    display: flex;
    justify-content: space-between;
}

.mac-image {
    width: 50%;
    transform: translateX(-3em);
}

.section2 .intro p {
    width: 50%;
    text-align: center;
    opacity: 0.3;
}

.features-col {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    line-height: 2rem;

}

.logo-row {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.footer-logo {
    width: 3em;
    height: 3em;
}

.inner-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons {
    display: flex;
    gap: 1em;
}


/* elements */

.nav-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4em;
    row-gap: 1em;
    opacity: 0.5;
}

footer {
    background-color: lightgray;
    padding: 1em;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    opacity: 0.5;
}

.container {
    width: 50%;
    margin: auto;
}

.section-margin {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.center {
    text-align: center;
}

.characteristics {
    width: 70%;
    margin: auto;
}

.flex {
    display: flex;
    gap: 4em;
}

button {
    color: white;
    text-decoration: none;
    padding: 0.7em 1em;
    border-radius: 1.5em;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.5);
    ;
}

.col {
    width: 24em;
}

button a {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.green {
    background-color: var(--Strong-Cyan);
    opacity: 0.7;
}

.blue {
    background-color: var(--Light-Blue);
    opacity: 0.7;
}

/* mobile */

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    button {
        width: 100%;
        font-size: 1.3rem;
        padding: 1em 3em;
        border-radius: 3em;

    }

    .button-section {
        display: flex;
        flex-direction: column;
        margin: 3em 0;
    }


    .features {
        flex-direction: column;

    }

    .devices {
        margin: 2em auto;
        width: 100%;
    }

    .characteristics {
        flex-direction: column;
    }

    .col {
        width: 90%;
    }

    .logo-row {
        flex-direction: column;
        gap: 7em;
    }

    .mac-image {
        transform: translateX(0);
        margin: auto;
        width: 90%;
    }

    .features-col {
        width: 90%;
        text-align: center;
    }

    .inner-footer {
        flex-direction: column;
        margin: 3em 0;
    }

    .nav-list {
        grid-template-columns: 1fr;
        text-align: center;
        margin: 4em 0;
    }

    .social-icons {
        gap: 2em;
    }
}